.industrial__card-bnt {
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    border: 1px solid #001337;
    width: 100%;
    height: 32px;
    border-radius: 5px;
    background-color: #fff;
    color: #001337;
    transition: all .3s linear;
}

@media screen and (min-width: 1280px) {
    .industrial__card-bnt {
        font-size: 14px;
        line-height: 16px;
    }
}